src/.git
src/.idea
#src/node_modules
#src/vendor
#src/bootstrap/cache/*
#src/storage/app/*
#src/storage/framework/cache/*
#src/storage/framework/sessions/*
#src/storage/framework/views/*
#src/storage/logs/*
#src/composer.lock
