VITE_APP_BASE_URL=https://castle.classino.com
VITE_APP_BASE_IMAGE_URL=https://clone.classino.com
VITE_APP_FILE_UPLOAD_URL=https://store3.classino.com
VITE_APP_NATIONAL_CARD_UPLOAD_URL=https://store3.classino.com
VITE_APP_CHAT_FILE_UPLOAD_URL=https://store3.classino.com
VITE_APP_STORE_FOUR_BASE_URL=https://store4.classino.com
VITE_APP_STORE_FOUR_UPLOAD_BASE_URL=https://store4.classino.com
VITE_APP_NX_CAPTCHA_KEY=6Le1W8MkAAAAAKxviDbFFpbOgorXfAvj4HVv1CAb
VITE_APP_ENV=localhost
VITE_APP_ACADEMIC_YEAR=1403
VITE_APP_KONKOOR_DATE=Saturday, July 7, 2024
VITE_APP_GTM_ID=GTM-52WQDC2
