/* the background color of the filepond drop area */
.filepond--drop-label {
  border-radius: 24px;
  background-color: #f5f5f5;
  margin-bottom: 20px!important;
  box-shadow: 0px 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
  0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
  0px 1px 3px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12));
}

.filepond--file-action-button {
  color: white;
}
.filepond--item {
  top: 10px!important;
}
.filepond--list {

}
.filepond--panel-root {
  background-color: transparent!important;
}
.filepond--image-preview-wrapper {}