
// Body
$blue: rgba(3, 106, 245, 1);
$blue-light: rgba(221,231,245,1);
$blue-lighter:rgb(246,248,252);

$gray: rgb(102,100,100);
$gray-light: rgba(0,0,0,.1);
$gray-lighter: rgb(242,242,242);

$orange: rgb(255,175,32);
$red: rgb(235,59,90);
$green: rgb(32,191,107);
$green-light:#BEFFDD;

$icomoon-font-family: "Classino_Icons" !default;
$icomoon-font-path: "@assets/font/icomoon" !default;

$icon-CL_magnifying-glass: "\e948";
$icon-CL_bars: "\e946";
$icon-CL_message-light: "\e947";
$icon-CL_download: "\e942";
$icon-CL_file-lines: "\e943";
$icon-CL_paperclip: "\e944";
$icon-CL_circle-xmark: "\e945";
$icon-CL_angle-right: "\e941";
$icon-CL_tag: "\e922";
$icon-CL_copy: "\e923";
$icon-CL_share-nodes: "\e924";
$icon-CL_circle-check: "\e925";
$icon-CL_arrow-left: "\e926";
$icon-CL_circle-play: "\e927";
$icon-CL_basket-shopping: "\e928";
$icon-CL_check: "\e929";
$icon-CL_plus: "\e92a";
$icon-CL_trash: "\e92b";
$icon-CL_eye: "\e92c";
$icon-CL_angle-down: "\e92d";
$icon-CL_lock-keyhole-open: "\e92e";
$icon-CL_wallet: "\e92f";
$icon-CL_cart-shopping: "\e930";
$icon-CL_message: "\e931";
$icon-CL_sun-bright: "\e932";
$icon-CL_moon: "\e933";
$icon-CL_heart: "\e934";
$icon-CL_angle-up: "\e935";
$icon-CL_phone: "\e936";
$icon-CL_xmark: "\e937";
$icon-CL_message-lines: "\e938";
$icon-CL_paper-plane: "\e939";
$icon-CL_face-frown: "\e93a";
$icon-CL_angle-left: "\e93b";
$icon-CL_clock: "\e93c";
$icon-CL_exclamation: "\e93d";
$icon-CL_Moshavere: "\e900";
$icon-CL_Maali: "\e902";
$icon-CL_Miz: "\e904";
$icon-CL_Takjalase: "\e905";
$icon-CL_Exam: "\e906";
$icon-CL_Homework: "\e907";
$icon-CL_Addtocard: "\e908";
$icon-CL_Add: "\e909";
$icon-CL_Tick: "\e914";
$icon-CL_Close: "\e90a";
$icon-CL_Plus: "\e921";
$icon-CL_Price: "\e90b";
$icon-CL_Calendar: "\e90c";
$icon-CL_Downarrow: "\e90d";
$icon-CL_Logout: "\e90e";
$icon-CL_Unlock: "\e90f";
$icon-CL_Lock: "\e910";
$icon-CL_Time: "\e911";
$icon-CL_Nezam: "\e912";
$icon-CL_Search: "\e913";
$icon-CL_Play: "\e915";
$icon-CL_Tak_Jalase: "\e916";
$icon-CL_Visible: "\e917";
$icon-CL_Mail: "\e918";
$icon-CL_Profile: "\e919";
$icon-CL_Wallet: "\e91a";
$icon-CL_Livestream: "\e91b";
$icon-CL_Mycourses2: "\e91c";
$icon-CL_Exam2: "\e91d";
$icon-CL_Mycourses: "\e91e";
$icon-CL_Store: "\e91f";
$icon-CL_Download: "\e920";
$icon-CL_bookmark: "\e93f";
$icon-CL_calendar1: "\e940";
$icon-CL_close-outline: "\e901";
$icon-CL_close-solid: "\e903";
$icon-CL_notification: "\e949";
$icon-CL_calendar: "\e93e";

$cl-bottom-menu-background-dark: #212121;
$cl-bottom-menu-secondary-dark:#424242;
$secondary-light: #fff;
$background: rgb(var(--v-theme-background));;
$primary:rgb(var(--v-theme-primary));
$background-light: #ededed;
$cl-bottom-menu-background-light: #f9fAfB;
$cl-bottom-menu-base: rgb(var(--v-theme-primary));
$cl-bottom-menu-indicatorColor: #424242;